Pandas Series

In [2]:
import pandas as pd

In [3]:
l = [ x for x in range(5)]

In [4]:
s = pd.Series(l)
s

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [5]:
s[3]

3

In [6]:
# Adding manual labels to the series
s = pd.Series(l, index=["a","b","c","d","e"])
s

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [7]:
s["e"]

4

In [8]:
s = pd.Series(l,index=["a","b","c","d","d"])
s["d"]

d    3
d    4
dtype: int64

In [9]:
data = {"a":1,"b":2, "c":3,"d":4}
s = pd.Series(data)
s

a    1
b    2
c    3
d    4
dtype: int64

In [10]:
# Consideration specifc keys
s = pd.Series(data,index=["a","b"])
s

a    1
b    2
dtype: int64

In [11]:
s = pd.Series(data, index=["a","b","c","f"])
s

a    1.0
b    2.0
c    3.0
f    NaN
dtype: float64

Querying a Series

In [15]:
s = pd.Series([_ for _ in range(1,11)])
s

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [16]:
s.iloc[0]

1

In [18]:
s.iloc[5]

6

In [19]:
s.iat[4]

5

In [20]:
s.iat[8]

9

In [21]:
s[5:9]

5    6
6    7
7    8
8    9
dtype: int64

In [22]:
s[-4:-1]

6    7
7    8
8    9
dtype: int64

Conditions

In [25]:
s.where(s%2==0) # Condition checking if number is even or not if TRUE value return itself if false return NAN instead of value

0     NaN
1     2.0
2     NaN
3     4.0
4     NaN
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [26]:
s.where(s%2 ==0, "Odd Number")

0    Odd Number
1             2
2    Odd Number
3             4
4    Odd Number
5             6
6    Odd Number
7             8
8    Odd Number
9            10
dtype: object

In [27]:
s.where(s%2==0, s**2)

0     1
1     2
2     9
3     4
4    25
5     6
6    49
7     8
8    81
9    10
dtype: int64

In [28]:
s.where(s%2==0, inplace=True)

In [30]:
s.dropna()

1     2.0
3     4.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [31]:
s.fillna("Filled Value")

0    Filled Value
1             2.0
2    Filled Value
3             4.0
4    Filled Value
5             6.0
6    Filled Value
7             8.0
8    Filled Value
9            10.0
dtype: object